@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
     background-image: url(/Nature.jpg); 
     background-repeat: no-repeat; 
    background-position: center center; 
    /* background-color: black; */
    background-size: cover;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
      
}
html{
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    display: inline-block;
    font-size: 3rem;
}
span{
    display: inline-block;
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}
h2{
    font-size: 2rem;
}
img{
    display: inline-block;
}

.img img{
    display: inline-block;
    width: 23vw;
    height: 36vh;
    padding: 12px;
    margin: 12px;

}
.container-main{
    max-width: 1180px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 6%;
    padding-inline: 20px;
    overflow: hidden;

}
.container{
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 25%; */
}
.container h1{
color: red;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* ! HAmburger and Close menu */
nav .openmenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .closemenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

/* !Nav hamburgeer closes here */
.navbar ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar ul li{
    margin: 0px 12px;
}
.navbar ul li a{
    color: #fff;
    font-size: 18px;
    position: relative;
    padding:12px 0;
}
.navbar ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.67s;
}
.navbar ul li a:hover::after{
width: 100%;
}
#myname{
    font-size: 3.5rem;
    color: red;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.main-txt{
    padding: 12px;
    margin: 12px;  
}
.main-txt .text{
    position: relative;
    font-size:1.5rem ;
    color: red;

}
.main-txt .text.first-text{
    color: rgb(248, 248, 248);
    font-size: 2rem;
}
.main-txt .text.second-text{
    font-size: 2rem;    
}
.main-txt .text.second-text::before{
content: " ";
position: absolute;
top:0;
left: 0;
height: 100%;    
width: 100%;
background:url(/Nature.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;

border-left: 2px solid rgb(119, 0, 255);
animation: animate 4s steps(12) infinite;  
}
@keyframes animate{
    40%, 60%{
       left: 100%; 
    }
    100%{
        left: 0%;
    }
}
.country{
    padding-block: 21px;

}
.country span{
    font-size: 2rem;
}
.country h1{
    background-image: linear-gradient(to right, orange,white, green);
    margin: 0 12px;
    color: black;
    padding: 12px;
    border-radius: 12%;
}
.about{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       flex-wrap: wrap;
       /* margin-top: 26%; */
}
@media(max-width:800px){
    .about{
        flex-direction: column;
    }
    *{
        background-color: black;
    }
    body{
        background-color: black;
        background-image: none;
    }
    .main-txt .text.second-text::before{
        content: " ";
        position: absolute;
        top:0;
        left: 0;
        height: 100%;    
        width: 100%;
        background:none;
        background-color: black;
        background-repeat: no-repeat;
        background-position: center center;
         background-size: cover;
       border-left: 2px solid rgb(14, 13, 15);
       animation: animate 4s steps(12) infinite;  
    
        }
        .content{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img img {
            display: inline-block;
            width: 66vw;
            height: 36vh;
            padding: 12px;
            margin: 12px;
        }
        .row_1 img {
            margin: 10px 23px;
            padding-block: 39px;
            width: 63%;
        }
        .navbar ul{
            /* display: none; */
        }
        .head-content {
            flex-direction: column;    
        }
    /* ! Hamburger media here */
         nav .nav{
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
             background: black;
             color: #fff;
             transition: top 1s ease;
             display: none;
         }
         nav .nav .closemenu{
            display: block;
        position: absolute;
        top: 20px;
        right: 20px;
         }
         nav .openmenu{
            display: block;
    
        }

        /* ! Hamburger media closes here */
       
        
}

.row_1{
    flex-basis: 35%;

}
.row_1 img{
    margin: 10px 23px;
    padding-block: 39px;
    width: 100%;
}
.row_2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 33%;
}
.row_2 h1{
    color:#e12916;
}
.row_2 span{
    font-size: 3rem;
    color: red;
}
.tab-titles{
    display: flex;
    gap: 15%;
    margin-top: 34px;
    
}
.tab-links{
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    color: rgb(243, 235, 235);
    cursor: pointer;
}
.tab-links::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 3px;
    background: red;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    margin: 15px 0px;
    padding: 10px 0px;  
    font-size: 1.2rem; 
    font-weight: 700;
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.skill-container{
    color: rgb(241, 83, 10)
}
.college span{
    font-size: 1.2rem;
}
